h1,
p {
  margin: 0;
  padding: 0;
}

.profile {
  background-color: var(--bg-color-ee);
  color: var(--text-2121);
}

/* for login */
.header {
  color: var(--header-color-for-login);
  background-color: var(--color-for-menu-item);
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 23px auto;
  padding: 21px;
  border-radius: 10px;
  border: 2px dotted var(--text-black);
  align-items: center;
}

.profile__wrapper {
  max-width: var(--width-1100);
  margin: 0 auto;
  padding: 21px;
  border-radius: 10px;
  border: 2px solid var(--text-black);
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: var(--text-white);
}

a:visited {
  color: var(--text-black);
}

p {
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  color: var(--text-black);
}

.profile__header {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: var(--text-black);
  gap: 10px;
}

.profile__header img {
  width: 100px;
  height: 100px;
  text-align: center;
}

.profile__person {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.new {
  background-color: #bfc0c0;
}

.new__wrapper {
  max-width: var(--width-1100);
  margin: 220px auto;
  padding: 21px;
  background-color: #2d3142;
  padding: 10px 20px;
  box-shadow: 0 5px 45px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  opacity: 0;
  animation: smoothly 3s forwards;
}

.header__new {
  text-align: center;
  color: #fff;
  padding: 10px 20px;
  margin-bottom: 20px;
}

label {
  font-size: 18px;
  color: var(--text-white);
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

input[type="text" i],
input[type="password" i] {
  width: 323px;
  height: 49px;
  border: 2px solid var(--black);
  border-radius: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

input[type="submit" i] {
  border: none;
  background: none;
  border-radius: 10px;
  background: var(--black);
  padding: 10px 10px;
  color: var(--text-white);
  width: 198px;
  height: 44px;
  cursor: pointer;
}

input[type="submit" i]:hover {
  background: #3b3b3b;
}

a:hover {
  color: var(--hover-color-for-menu-item);
}

a {
  position: relative;
  text-decoration: none;
  gap: 5px;
  display: flex;
  align-items: center;
  color: var(--color-for-menu-item);
}

a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: var(--hover-color-for-menu-item);
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

a:hover::after {
  width: 100%;
  left: 0;
}