<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Главная</title>
    <link rel="stylesheet" href="static/css/global.css" />
    <link rel="stylesheet" href="static/css/index.css" />
  </head>
  <body>
    <header class="header">
      <div class="header__wrapper">
        <div class="header__logo">
          <img
            src="static/images/logo_Kampus.png"
            alt="Логотип Тюменского Кампуса"
          />
        </div>
        <nav>
          <ul class="menu">
            <li class="menu__item">
              <a href="#"
                ><img src="static/images/logo_TSU.png" alt="logo_TSU" />ТюмГУ</a
              >
            </li>
            <li class="menu__item">
              <a href="#"
                ><img src="static/images/logo_TIU.png" alt="logo_TIU" />ТИУ</a
              >
            </li>
            <li class="menu__item">
              <a href="#"
                ><img
                  src="static/images/logo_TumGUM.png"
                  alt="logo_TumGUM"
                />ТюмГУМ</a
              >
            </li>
            <li class="menu__item">
              <a href="#"
                ><img src="static/images/logo_GauNw.png" alt="logo_GauNw" />ГАУ СЗ</a
              >
            </li>
            <li class="menu__item">
              <a href="#"
                ><img src="static/images/logo_Tgic.png" alt="logo_Tgic" />ТГИК</a
              >
            </li>
          </ul>
        </nav>
        <div class="header__account">
          <img src="static/images/logo_Profile.png" alt="Иконка профиля" />
        </div>
      </div>
    </header>
    <main>
      <section class="news">
        <div class="news__wrapper">
          <div class="news__header">
            <h1 class="news__title">Новости</h1>
            <a href="#" class="news__all">cмотреть все новости</a>
          </div>
          <div class="news__cards">
            <div class="card__item">
              <div class="card_image">
                <img src="" alt="" />
              </div>
              <div class="card_text">текст</div>
            </div>
            <div class="card__item">
              <div class="card_image">
                <img src="" alt="" />
              </div>
              <div class="card_text">текст</div>
            </div>
            <div class="card__item">
              <div class="card_image">
                <img src="" alt="" />
              </div>
              <div class="card_text">текст</div>
            </div>
            <div class="card__item">
              <div class="card_image">
                <img src="" alt="" />
              </div>
              <div class="card_text">текст</div>
            </div>
          </div>
        </div>
      </section>
      <section class="project">
        <div class="project__wrapper">
          <h2 class="project__header">О проекте</h2>
          <p class="project__text">
            Тюмень – один из крупных студенческих городов России. В шести вузах
            области обучается более 48 тысяч студентов. Поэтому и родилась идея
            создать Межвузовский кампус. Это не просто комфортное жилье для
            студентов и преподавателей. Это общественное пространство для всех.
            Там могут быть технопарк, учебные лаборатории, сцена для культурных
            мероприятий, футбольное поле и другие объекты, где каждый житель
            найдет для себя место.
          </p>
          <p class="project__text">
            Проект по созданию межуниверситетского кампуса в Тюмени
            осуществляется в рамках федерального проекта «Создание сети
            современных кампусов» национального проекта «Наука и университеты»,
            реализуемого Минобрнауки России.
          </p>
          <p class="project__text">
            Реализация такого проекта – это новый драйвер роста для всего
            региона. Его строительство позволит привлечь лучших студентов со
            всей страны. Даст толчок к развитию высокотехнологичной
            промышленности.
          </p>
        </div>
      </section>
      <section>
        <div class="video__wrapper"></div>
      </section>
    </main>
    <footer>
      <div class="footer__wrapper">
        <div class="footer__logo">
          <img
            src="static/images/logo_Kampus.png"
            alt="Логотип Тюменского Кампуса"
          />
        </div>
        <div class="footer__info">
          <div class="info_item">
            <a href="tel:+79999999999">89999999999</a>
          </div>
          <div class="info_item">
            <a href="mailto:example@mail.ru">example@mail.ru </a>
          </div>
          <div class="info_item">
            <a href="www.site.com">www.site.com</a>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
