<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Новость</title>
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/slider.css" />
    <link rel="stylesheet" href="/static/css/university.css" />
    <script src="/static/js/university.js" defer></script>
    <script src="/static/js/slider.js" defer></script>
    <style>
      :root {
        --main-color: {{ data.university.options.mainColor }};
        --background-color: {{ data.university.options.gradient }};
      }
    </style>
  </head>
  <body>
    <!-- style -->
    <header class="header" style="border: 3px solid var(--main-color)">
      <img src="/static/images/{{ data.university.options.hat }}" style="width: responsive; height: 500px" alt="Шапка {{ data.university.name }}">
      <div class="header__wrapper">
        <div class="header__logo">
          <div class="header__logo-img">
            <img
              src="/static/images/{{ data.university.options.image }}"
              alt="Логотип {{ data.university.name }}"
            />
          </div>
          
          <!-- Название -->
          <div class="header__logo-text">{{ data.university.options.fullName }}</div>
        </div>
        
        <div class="header__account">
          <a href="/profile"><img src="/static/images/logo_Profile.png" alt="Иконка профиля" /></a>
        </div>

        
      </div>
      
    </header>
    <main>
      <section class="events__info">
        <div class="enets__wrapper" style="border: 3px solid var(--main-color)">
        <div class="event__header">Мероприятия</div>
        <!-- Пробую свои силы -->
          <!-- <div class="event__slider">
          <div class="slider-container">
            <div class="slide">
              <img src="static/images/logo_Kampus.png" alt="" />
            </div>
            <div class="slide">
              <img src="static/images/logo_Kampus.png" alt="" />
            </div>
            <div class="slide">
              <img src="static/images/logo_Kampus.png" alt="" />
            </div>
          </div>
          <button class="prev-slide">
            <img src="static/images/left_arrow.png" alt="" />
          </button>
          <button class="next-slide">
            <img src="static/images/right_arrow.png" alt="" />
          </button>
          </div> -->
        </div>
        <div class="info_people_wrapper">
          <!-- тут -->
          <div class="info__wrapper" style="border: 3px solid var(--main-color)">
          <div class="info__header">Информация</div>
          <div class="info__text" id="infoText">{{ data.university.options.description }}</div>{% if data.user.role == 'Администратор' and data.user.university.id == data.university.id%}<button id="changeinfoBtn" onclick="changeInfoText()">Изменить</button><input type="text", placeholder="Текст описания" id="infoInput" style="display: none; height: 100%; width: 100%;"> <button id="saveinfoBtn" onclick="SaveInfoText({{data.university.id}})" style="display: none;">Сохранить</button>{% endif %}
          </div>
          <div class="people__wrapper" style="border: 3px solid var(--main-color)">
            <div class="people">
              <div class="people__image">
                <img src="/static/images/logo_Profile.png" alt="">
              </div>
              <div class="people__text">
                <div class="people__name">Павел Максимович</div>
                <div class="people__position">Администратор</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="post" style="border: 4px solid var(--main-color)">
        <h2>Новости</h2>
        {% for post in data.posts %}
        <!-- style тут для каждого разного -->
        <div class="post__wrapper"
          style="background: linear-gradient(var(--background-color));">
          <div class="post__header">
            <div class="post__logo">
              <!-- Либо здесь еще логотип колледжа -->
              <img src="/static/images/logo_Kampus.png" alt="" />
            </div>
            <!-- Заголовок -->
            <div class="post__head">post['data']['title']</div>
            <div class="post__burger-menu">
              <img src="/static/images/burger-menu.png" alt="" />
            </div>
          </div>
          <div class="post__title">
            <!-- Текст -->
            <div class="post__text">
              post['data']['text']
            </div>
          </div>
          {% if post['data']['images'] %}
            {% for image in post['data']['images'] %}
            <div class="post__image">
              <img src="{{image}}" alt="Картинка в посте" />
            </div>
            {% endfor %}
          {% endif %}
          {% if post['data']['video'] %}
          <div class="post__video">
            <video src="{{post['data']['video']}}" controls></video>
          </div>
          {% endif %}
          {% if post['data']['event'] %}
          <div class="post__event">
            <div class="post__event-title">{{post['data']['event']['title']}}</div>
            <div class="post__event-text">{{post['data']['event']['text']}}</div>
          </div>
          {% endif %}
          <div class="post__buttons">
            <div class="post__button">
              <button onclick="LikePost({{post['id']}})">
                <img src="/static/images/like_icon.png" alt="" />
              </button>
              <!-- Счетчик -->
              <div class="post__count" id="LikesCounter">{{post['likes']}}</div>
            </div>
          </div>
          {% if post['data']['comments'] %}
          <div class="post__wrapper-comments">
            <!-- Загрузка комментариев -->
            <div class="post__comments">
              {% for comment in post['data']['comments'] %}
              <div class="post__comment">
                <img
                  src="/static/images/{{comment['author']['options']['avatar']}}"
                  alt="Иконка профиля"
                />
                <div class="post__comment-text">
                  <a href="/profile/comment['author']['options']['login']"><div class="post__comment-head">{{comment['author']['name']}} comment['author']['surname']</div></a>
                  <div class="post__comment-footer">
                    {{comment['text']}}
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
          {% endif %}
          {% if data['user'] %}
          <div class="post__add-comment">
            <!-- Загрузка формы добавления комментария -->
            <div class="post__form">
              <form>
                <img
                  src="/static/images/{{data['user']['avatar']}}"
                  alt="Иконка профиля"
                />
                <input
                  class="post__input"
                  type="text"
                  placeholder="Ваш комментарий"
                />
                <input type="text" name="postid" value="{{post['id']}}", style="display: none">
                <input
                  type="image"
                  src="/static/images/BtnSend.png"
                  alt="Отправить"
                />
              </form>
            </div>
          </div>
          {% endif %}
        </div>
        {% endfor %}
      </section>
    </main>
  </body>
</html>
